.logo { 
    width:115px;
    height:46px;

}

.bell-icon-nav {
    width:20px;
    height:22px;
}
.drop-icon { 
    width : 9px;
    height:6px;
}
.user-image-upload {
    margin-left: 10px;
    margin-right:10px;
    width:28px;
    height:28px;
}
div {
    font-family: "Roboto";
}
.dashboard-btn {
    border-radius: 10px;
    border-width: 0px;

}
.create-btn {
    border-radius: 10px;
    border-width: 0px;
}
.btn-container-db{
    margin-top:12.2px;
}
.user-profile-icon{
    width:24px;
    height: 24px;

}